/* Add this CSS file for media queries */

@media (max-width: 768px) {
    .min-h-screen {
        font-size: 0.875rem;
        /* Smaller text for mobile view */
    }

    .min-w-full {
        font-size: 0.875rem;
        /* Smaller text for mobile view */
    }

    th,
    td {
        padding: 0.5rem;
        /* Adjust padding for smaller screens */
    }

    h1 {
        font-size: 1.5rem;
        /* Adjust heading size for mobile view */
    }
}